<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Propietarios</title>
</head>
<body>
    <h1>Lista de Propietarios</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for propietario in propietarios %}
                <tr>
                    <td>{{ propietario.name }}</td>
                    <td>{{ propietario.number_depart }}</td>
                    <td>{{ propietario.phone_number }}</td>
                    <td>{{ propietario.email }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay propietarios disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_propietario' %}">Agregar nuevo propietario</a> <br>
    <a href="{% url 'list_vehiculos' %}">Lista de vehículos</a> <br>
    <a href="{% url 'listar_registros' %}">Ver registros</a>
</body>
</html>
